header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
header {
  background-color: black;
  height: 4rem;
  font-family: sans-serif;
}
.nav-buttons {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons a:last-child {
  border: 1px solid lightcoral;
  padding: 5px;
}
.logo {
  font-size: 24px;
}
header a {
  text-decoration: none;
  color: white;
}
