.container-profile-image {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-form {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.avatar-form div {
  display: flex;
  justify-content: space-between;
}
.user-info {
  width: 100%;
  list-style: none;
  padding: 20px;
}
.user-info li {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.update-profile {
  color: black;
  width: 25%;
  min-width: inherit;
  border: 1px solid black;
  background: none;
  text-transform: none;
  font: inherit;
}
label[for='avatar'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
  padding-left: 10px;
}

input[type='file']::file-selector-button {
  border: 2px solid lightcoral;
  padding: 0.2em 0.4em;
  background-color: lightcoral;
}

.update-profile:hover {
  background-color: lightcoral;
}
.update-profile-container {
  padding: 40px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.update-profile-container label {
  display: block;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: smaller;
}
.update-profile-container input {
  width: 100%;
  border: 1px solid #e8e9eb;
  background-color: #fff;
  color: #1e1e1e;
  padding: 10px 20px;
  margin-bottom: 16px;
  display: block;
}
.btn {
  background-color: black;
  color: #fff;
  width: 100%;
  min-width: inherit;
  border-radius: 2px;
  padding: 13px;
  text-transform: none;
  font-weight: bold;
}
.button-color {
  background-color: lightcoral;
  border: 1px solid lightcoral;
}
.change-email-form {
  display: none;
}
.change-password-form {
  display: none;
}

.show {
  display: block;
}
.error-login a {
  text-decoration: inherit;
  color: black;
}

.delete-account:hover {
  background-color: rgb(233, 107, 107);
}
