.welocome-signup {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  align-items: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
  background-color: rgb(85, 72, 205);
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  padding-bottom: 3rem;
  overflow: hidden;
}

.hero::before {
  content: '';
  display: block;
  background: rgb(85, 72, 205);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 150vw;
  width: 300vw;
  height: 300vw;
  z-index: -1;
}

.hero h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: rgb(248, 248, 248);
  color: rgb(85, 72, 205);
}
.big-welcome {
  font-size: 58px;
  color: white;
  font-weight: normal;
  -webkit-text-stroke-width: 0;
}
.small-to {
  color: white;
  font-weight: normal;
  -webkit-text-stroke-width: 0;
}
.hero p {
  text-align: left;
  /* letter-spacing: 1px; */
  font-weight: lighter;
}

.form-container {
  height: 50%;
}
.sign-up-container {
}
.log-in-container {
  padding: 40px;
  color: #5a5959;
  margin: 1rem;
  border-radius: 20%;
  background-color: bisque;
}
.log-in-container h2 {
  font-size: 32px;
}
.log-in-container a {
  text-decoration: none;
  color: rgb(230, 158, 100);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3rem;
}

input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}
input:focus {
  outline-style: none;
}
label {
  color: #5a5959;
}
.btn {
  display: inline-block;
  background: rgb(25, 125, 146);
  border: none;
  padding: 0.5rem 3rem;
  color: white;
}
.login-forgot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot {
  font-size: 12px;
}
.clip {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  height: 200px;
  background-color: blue;
}
